<!doctype html>
<html lang="tw-zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>iShare - 愛心便當收銀系統</title>
    <base href="./">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="./dashboard/styles.c287f598a9a61d7a895c.bundle.css" rel="stylesheet" />
</head>

<body id="page-top">
    <app-root></app-root>
    <script type="text/javascript" src="./dashboard/inline.1e87bfff972d3d1a07de.bundle.js"></script>
    <script type="text/javascript" src="./dashboard/polyfills.67d068662b88f84493d2.bundle.js"></script>
    <script type="text/javascript" src="./dashboard/scripts.c91807803d6cbb200a4f.bundle.js"></script>
    <script type="text/javascript" src="./dashboard/vendor.dfb8fe49236f9ea9bb00.bundle.js"></script>
    <script type="text/javascript" src="./dashboard/main.d6719cb1b4669083ff9c.bundle.js"></script>
</body>

</html>