<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Meal</title>
    <base href="./">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="./qrcode/styles.1436b1616341fedaa840.bundle.css" rel="stylesheet" />
</head>

<body>
    <app-root></app-root>
    <script type="text/javascript" src="./qrcode/inline.23b9040902614edb4883.bundle.js"></script>
    <script type="text/javascript" src="./qrcode/polyfills.67d068662b88f84493d2.bundle.js"></script>
    <script type="text/javascript" src="./qrcode/scripts.2dbbd74f8b034d1ffba6.bundle.js"></script>
    <script type="text/javascript" src="./qrcode/vendor.0192ae9b025daec9dcff.bundle.js"></script>
    <script type="text/javascript" src="./qrcode/main.2578ba6928baa4dc0418.bundle.js"></script>
</body>

</html>