<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Meal</title>
  <base href="./">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="./qrcode/styles.1436b1616341fedaa840.bundle.css" rel="stylesheet" />
</head>

<body>
  <app-root></app-root>
  <script type="text/javascript" src="./qrcode/inline.3ed806bd53401373846b.bundle.js"></script>
  <script type="text/javascript" src="./qrcode/polyfills.67d068662b88f84493d2.bundle.js"></script>
  <script type="text/javascript" src="./qrcode/scripts.aa5f99115812dc85483f.bundle.js"></script>
  <script type="text/javascript" src="./qrcode/vendor.0192ae9b025daec9dcff.bundle.js"></script>
  <script type="text/javascript" src="./qrcode/main.c93f2052d6595e09e479.bundle.js"></script>
</body>

</html>
